<%= form_for(@boarding_pass) do |f| %>
  <% if @boarding_pass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boarding_pass.errors.count, "error") %> prohibited this boarding_pass from being saved:</h2>

      <ul>
      <% @boarding_pass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :tax_paid %><br>
    <%= f.text_field :tax_paid %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br>
    <%= f.datetime_select :expiration %>
  </div>
  <div class="field">
    <%= f.label :is_valid %><br>
    <%= f.check_box :is_valid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
