<%= form_for(@boarding_pass) do |f| %>
  <% if @boarding_pass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boarding_pass.errors.count, "error") %> prohibited this boarding_pass from being saved:</h2>

      <ul>
      <% @boarding_pass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    $<%= todays_price = Rate.todays_price %>
    <%= f.hidden_field :price, value: todays_price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.select :quantity, (1..6)  %>
  </div>
  <div class="field">
    <%= f.label :tax_paid %><br>
    <%= todays_tax = Rate.todays_tax_rate %>%
    <%= f.hidden_field :tax_paid, value: todays_tax %>
  </div>
  <div class="field">
    <%= (todays_price * quantity) * (1 + (todays_tax/100))
  </div>
  <%= f.hidden_field :expiration, value: Time.now.utc.beginning_of_day + 14.days %>
  <%= f.hidden_field :is_valid, value: true %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
