<p id="notice"><%= notice %></p>

<h1>Listing Boarding Passes</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Quantity</th>
      <th>Tax paid</th>
      <th>Expiration</th>
      <th>Is valid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boarding_passes.each do |boarding_pass| %>
      <tr>
        <td><%= boarding_pass.price %></td>
        <td><%= boarding_pass.quantity %></td>
        <td><%= boarding_pass.tax_paid %></td>
        <td><%= boarding_pass.expiration %></td>
        <td><%= boarding_pass.is_valid %></td>
        <td><%= link_to 'Show', boarding_pass %></td>
        <td><%= link_to 'Edit', edit_boarding_pass_path(boarding_pass) %></td>
        <td><%= link_to 'Destroy', boarding_pass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boarding pass', new_boarding_pass_path %>
