<% if @cc_info.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@cc_info.errors.count, "error") %> prohibited this rate from being saved:</h2>
    <ul>
      <% @cc_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="<%= payments_url %>" method="post">
  <%= csrf_token %>

  <input type="number" name="payment_processor_simulator[cc_number]" value="<%= @cc_info.cc_number %>" placeholder="Credit Card Number">

  <input type="date" name="payment_processor_simulator[expiration]" value="<%= @cc_info.expiration %>" placeholder="Expiration Date">

  <input type="number" name="payment_processor_simulator[cvc]" value="<%= @cc_info.cvc %>" placeholder="CVC">

  <button>Continue to checkout</button>
</form>
