<% if @payment.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(@payment.errors.count, "error") %> prohibited your payment from being accepted:</h2>
    <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="<%= checkout_url %>" method="post">
  <%= csrf_token %>
  <p>
    <label for="Credit Card Number">Credit Card Number</label>
    <input type="number" name="payment_processor_simulator[cc_number]" value="<%= session[:payment]['cc_number'] %>" placeholder="Credit Card Number", class='form-control'>
  </p>
  <p>
    <label for="expiration date">Expiration Date</label>
    <input type="month" name="payment_processor_simulator[expiration]" value="<%= session[:payment]['expiration'] %>" placeholder="Expiration Date", class='form-control'>
  </p>
  <p>
    <label for="CVC">CVC</label>
    <input type="number" name="payment_processor_simulator[cvc]" value="<%= session[:payment]['cvc'] %>" placeholder="CVC", class='form-control'>
  </p>
  <p>
    <div class="col-xs-12 col-sm-6 col-md-12 text-center">
      <button class="btn btn-primary btn-lg btn-block">
        Continue to Checkout
      </button>
    </div>
  </p>
</form>
