<h1 class="text-center">Checkout</h1>

  <% boarding_pass = session[:boarding_pass] %>
  <% price = boarding_pass["price"] %>
  <% tax_rate = Rate.todays_tax_rate %>

  <p>
    <h4>Number of Tickets</h3>
    <%= tkt_qty = boarding_pass["quantity"] %>
  </p>
  <p>
    <h4>Subtotal</h4>
    <%= number_to_currency(sub_total = tkt_qty.to_i * price.to_f, unit: '$') %>
  </p>
  <p>
    <h4>Tax</h4>
    <%= number_to_currency(tax_rate/100 * sub_total, unit: '$') %>
  </p>
  <p>
    <h4>Grand Total</h4>
    <%= number_to_currency(BoardingPass.grand_total(tkt_qty, price, tax_rate), unit: '$') %>
  </p>

  <p>
    <h4>Last 4 digits of credit card number</h4>
    <%= session[:credit_card].last_four %>
  </p>
  <p>
    <form action="<%= payments_checkout_url %>" method="post">
      <%= csrf_token %>
      <div class="col-xs-12 col-sm-6 col-md-12 text-center">
        <button class="btn btn-primary btn-lg btn-block">
          Purchase Tickets
        </button>
      </div>
    </form>
  </p>

  <%= link_to 'Back', new_payment_path %>
