<h1 class="text-center">Checkout</h1>
  <p id="checkout-flash"></p>
  <p>
    <h4>Number of Tickets</h3>
    <%= tkt_qty = @boarding_pass.quantity %>
  </p>
  <p>
    <h4>Subtotal</h4>
    <%= number_to_currency(@boarding_pass.sub_total, unit: '$') %>
  </p>
  <p>
    <h4>Tax</h4>
    <%= number_to_currency(@boarding_pass.total_tax, unit: '$') %>
  </p>
  <p>
    <h4>Grand Total</h4>
    <%= number_to_currency(@boarding_pass.grand_total, unit: '$') %>
  </p>

  <p>
    <h4>Last 4 digits of credit card number</h4>
    <%= @payment.last_four %>
  </p>
  <p>
    <form action="<%= payments_checkout_url %>" method="post">
      <%= csrf_token %>
      <div class="col-xs-12 col-sm-6 col-md-12 text-center">
        <button class="btn btn-primary btn-lg btn-block" id="checkout-button">
          Purchase Tickets
        </button>
      </div>
    </form>
  </p>

  <%= link_to 'Back', new_payment_path %>
